<!DOCTYPE html><html lang="en">
<head>
  {% include "partials/head.html" %}
  <title>Availability - Silversun Studios</title>
</head>

<body class="bg-black text-light">
  <!-- Navbar -->
  {% include "partials/navbar.html" %}

  <!-- FAQ Sections -->
  <div class="container-fluid bg-dark bg-gradient pt-5">
    <div class="container-md">
      <div class="row align-items-center justify-content-between flex-row-reverse">
        <div class="col-auto mx-auto">
          <h2 class="text-center">Studio Availability</h2>
          <p>Developer note: This is a demo. The calendars below are live Google resource calendars posing as studio
            availability. All events are pre-filled or created by others viewing the demo. </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Google Calendar Implementation -->
  <div class="container-fluid bg-dark pt-5">
    <div class="container-md">
      <div class="row">
        <iframe class="col-lg-6 col-12 pb-5"
          src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&mode=MONTH&showDate=1&showPrint=0&title=Silversun%20Studios&showCalendars=1&showTabs=0&src=Y18xODg1YWhqdmtudm1vZ2c5bGRyYTRsczFtMzdmY0ByZXNvdXJjZS5jYWxlbmRhci5nb29nbGUuY29t&src=Y18xODg3ZnZianNpbWdnaGtibXFldTJraXJibHE5cUByZXNvdXJjZS5jYWxlbmRhci5nb29nbGUuY29t&src=Y18xODhiazlqbWpmNzV1Z2U0ZzQzMTlsdXVxbDZxOEByZXNvdXJjZS5jYWxlbmRhci5nb29nbGUuY29t&src=Y18xODg5NnNmc2tjbjltZzI1bDAwdGV0NGphbm5uMkByZXNvdXJjZS5jYWxlbmRhci5nb29nbGUuY29t&color=%23D50000&color=%234285F4&color=%23E4C441&color=%23AD1457"
          style="border-width:0" height="600" frameborder="0" scrolling="no"></iframe>
        <iframe class="col-lg-6 col-12 pb-5"
          src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&mode=WEEK&showDate=1&showPrint=0&title=Silversun%20Studios&showCalendars=1&showTabs=0&src=Y18xODg1YWhqdmtudm1vZ2c5bGRyYTRsczFtMzdmY0ByZXNvdXJjZS5jYWxlbmRhci5nb29nbGUuY29t&src=Y18xODg3ZnZianNpbWdnaGtibXFldTJraXJibHE5cUByZXNvdXJjZS5jYWxlbmRhci5nb29nbGUuY29t&src=Y18xODhiazlqbWpmNzV1Z2U0ZzQzMTlsdXVxbDZxOEByZXNvdXJjZS5jYWxlbmRhci5nb29nbGUuY29t&src=Y18xODg5NnNmc2tjbjltZzI1bDAwdGV0NGphbm5uMkByZXNvdXJjZS5jYWxlbmRhci5nb29nbGUuY29t&color=%23D50000&color=%234285F4&color=%23E4C441&color=%23AD1457"
          style="border-width:0" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>

  <!-- Footer -->
  {% include "partials/footer.html" %}
</body></html>