<!DOCTYPE html><html lang="en">
<head>
  {% include "partials/head.html" %}
  <title>FAQ - Silversun Studios</title>
</head>

<body class="bg-black text-light">
  <!-- Navbar -->
  {% include "partials/navbar.html" %}

  <!-- FAQ Sections -->
  <div class="container-fluid bg-dark bg-gradient py-5">
    <div class="container-md">
      <div class="row align-items-center justify-content-between flex-row-reverse">
        <div class="col-lg-5 col-12">
          <h2 class="">What DAWs are in the studios?</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem maxime illum dolor,
            possimus incidunt? Aliquam quam necessitatibus provident, repellendus voluptatum, consequuntur
            rerum magnam, porro assumenda qui sapiente voluptate quisquam?</p>
        </div>
        <div class="col-lg-5 col-12">
          <h2 class="">How many hours is a day rate?</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem maxime illum dolor,
            possimus incidunt? Aliquam quam necessitatibus provident, repellendus voluptatum, consequuntur
            rerum magnam, porro assumenda qui sapiente voluptate quisquam?</p>
        </div>
        <div class="col-lg-5 col-12">
          <h2 class="">Do you provide engineers?</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem maxime illum dolor,
            possimus incidunt? Aliquam quam necessitatibus provident, repellendus voluptatum, consequuntur
            rerum magnam, porro assumenda qui sapiente voluptate quisquam?</p>
        </div>
        <div class="col-lg-5 col-12">
          <h2 class="">Can you refer session musicians?</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem maxime illum dolor,
            possimus incidunt? Aliquam quam necessitatibus provident, repellendus voluptatum, consequuntur
            rerum magnam, porro assumenda qui sapiente voluptate quisquam?</p>
        </div>
        <div class="col-lg-5 col-12">
          <h2 class="">Is there a smoking policy?</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem maxime illum dolor,
            possimus incidunt? Aliquam quam necessitatibus provident, repellendus voluptatum, consequuntur
            rerum magnam, porro assumenda qui sapiente voluptate quisquam?</p>
        </div>
        <div class="col-lg-5 col-12">
          <h2 class="">How can I copyright my recordings?</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem maxime illum dolor,
            possimus incidunt? Aliquam quam necessitatibus provident, repellendus voluptatum, consequuntur
            rerum magnam, porro assumenda qui sapiente voluptate quisquam?</p>
        </div>
        <div class="col-lg-5 col-12">
          <h2 class="">Can you provide music for licensing?</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem maxime illum dolor,
            possimus incidunt? Aliquam quam necessitatibus provident, repellendus voluptatum, consequuntur
            rerum magnam, porro assumenda qui sapiente voluptate quisquam?</p>
        </div>
        <div class="col-lg-5 col-12">
          <h2 class="">Do you work with talent agencies for VO?</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem maxime illum dolor,
            possimus incidunt? Aliquam quam necessitatibus provident, repellendus voluptatum, consequuntur
            rerum magnam, porro assumenda qui sapiente voluptate quisquam?</p>
        </div>
      </div>
    </div>
  </div>


  <!-- Footer -->
  {% include "partials/footer.html" %}
</body></html>