<!DOCTYPE html><html lang="en">
<head>
  {% include "partials/head.html" %}
  <title>Studios - Silversun Studios</title>
</head>

<body class="bg-black text-light">
  <!-- Navbar -->
  {% include "partials/navbar.html" %}

  <!-- Studio A -->
  <div class="container-fluid bg-dark bg-gradient py-5">
    <div class="container-md">
      <div class="row align-items-center justify-content-between flex-row-reverse">
        <div class="col-lg-5 col-12">
          <h2 class="text-center">Studio A</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id deleniti voluptas illum. Quam eum
            quia
            blanditiis cupiditate aut fuga, nesciunt deserunt minima? Dolor, aspernatur? Tenetur natus
            aspernatur unde blanditiis dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            deleniti voluptas illum. Quam eum quia blanditiis cupiditate aut fuga, nesciunt deserunt minima?
            Dolor, aspernatur? Tenetur natus aspernatur unde blanditiis dolore? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Id deleniti voluptas illum. Quam eum quia blanditiis cupiditate
            aut
            fuga, nesciunt deserunt minima? Dolor, aspernatur? Tenetur natus aspernatur unde blanditiis
            dolore?</p>
          <p>Rental Rate: $65/hour</p>
        </div>
        <div class="col-lg-5 col-12">
          <img class="img-fluid" src="{{ url_for('static', filename='img/photos/lg_studio_a.jpg') }}"
            alt="Studio C in session">
        </div>
      </div>
    </div>
  </div>

  <!-- Studio B -->
  <div class="container-fluid bg-dark py-5">
    <div class="container-md">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-5 col-12">
          <h2 class="text-center">Studio B</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id deleniti voluptas illum. Quam eum
            quia
            blanditiis cupiditate aut fuga, nesciunt deserunt minima? Dolor, aspernatur? Tenetur natus
            aspernatur unde blanditiis dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            deleniti voluptas illum. Quam eum quia blanditiis cupiditate aut fuga, nesciunt deserunt minima?
            Dolor, aspernatur? Tenetur natus aspernatur unde blanditiis dolore? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Id deleniti voluptas illum. Quam eum quia blanditiis cupiditate
            aut
            fuga, nesciunt deserunt minima? Dolor, aspernatur? Tenetur natus aspernatur unde blanditiis
            dolore?</p>
          <p>Rental Rate: $60/hour</p>

        </div>
        <div class="col-lg-5 col-12">
          <img class="img-fluid" src="{{ url_for('static', filename='img/photos/lg_studio_b.jpg') }}"
            alt="Studio C in session">
        </div>
      </div>
    </div>
  </div>

  <!-- Studio C -->
  <div class="container-fluid bg-dark py-5">
    <div class="container-md">
      <div class="row align-items-center justify-content-between flex-row-reverse">
        <div class="col-lg-5 col-12">
          <h2 class="text-center">Studio C</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id deleniti voluptas illum. Quam eum
            quia
            blanditiis cupiditate aut fuga, nesciunt deserunt minima? Dolor, aspernatur? Tenetur natus
            aspernatur unde blanditiis dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            deleniti voluptas illum. Quam eum quia blanditiis cupiditate aut fuga, nesciunt deserunt minima?
            Dolor, aspernatur? Tenetur natus aspernatur unde blanditiis dolore? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Id deleniti voluptas illum. Quam eum quia blanditiis cupiditate
            aut
            fuga, nesciunt deserunt minima? Dolor, aspernatur? Tenetur natus aspernatur unde blanditiis
            dolore?</p>
          <p>Rental Rate: $55/hour</p>

        </div>
        <div class="col-lg-5 col-12">
          <img class="img-fluid" src="{{ url_for('static', filename='img/photos/lg_studio_c.jpg') }}"
            alt="Studio C in session">
        </div>
      </div>
    </div>
  </div>

  <!-- Live Room -->
  <div class="container-fluid bg-dark py-5">
    <div class="container-md">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-5 col-12">
          <h2 class="text-center">Live Room</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id deleniti voluptas illum. Quam eum
            quia
            blanditiis cupiditate aut fuga, nesciunt deserunt minima? Dolor, aspernatur? Tenetur natus
            aspernatur unde blanditiis dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            deleniti voluptas illum. Quam eum quia blanditiis cupiditate aut fuga, nesciunt deserunt minima?
            Dolor, aspernatur? Tenetur natus aspernatur unde blanditiis dolore? Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Id deleniti voluptas illum. Quam eum quia blanditiis cupiditate
            aut
            fuga, nesciunt deserunt minima? Dolor, aspernatur? Tenetur natus aspernatur unde blanditiis
            dolore?</p>
          <p>Rental Rate: control room + $20/hour</p>

        </div>
        <div class="col-lg-5 col-12">
          <img class="img-fluid" src="{{ url_for('static', filename='img/photos/lg_live_room1.jpg') }}"
            alt="Studio C in session">
        </div>
      </div>
    </div>
  </div>


  <!-- Footer -->
  {% include "partials/footer.html" %}
</body></html>