<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Primary Meta Tags -->
<meta name="title" content="Silversun Studios">
<meta name="description"
    content="A studio booking app, made with Python and Flask">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://silversun.augnos.dev/">
<meta property="og:title" content="Silversun Studios">
<meta property="og:description"
    content="A studio booking app, made with Python and Flask.">
<meta property="og:image" content="{{ url_for('static', filename='img/photos/lg_studio_c.jpg') }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://silversun.augnos.dev/">
<meta property="twitter:title" content="Silversun Studios">
<meta property="twitter:description"
    content="A studio booking app, made with Python and Flask.">
<meta property="twitter:image" content="{{ url_for('static', filename='img/photos/lg_studio_c.jpg') }}">

<!-- My CSS & Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<!-- FullCalendar CSS will be used to build a new calandar to replace GCal iframe -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.js"></script> -->